{% extends "_layout.html" %}

{% block content %}

<br>

<div class="card">
	<h5 class="card-header">Meet MetaPhotor</h5>
	<div class="card-body">
		<h5 class="card-title">Welcome!</h5>
		<p class="card-text">
			MetaPhotor is a web-application to serve as a small media-centre for personal and family photos and videos.
			<br>Is this the first time the app is launched? Then you may want to configure <a href="/settings">settings</a>, default user is <i>admin/admin</i>.
			<br>However, for dockerized deployment default settings work fine, just do not forget to change password for the admin user!
			<br>P.S. While tested in Chrome browser, no issues with displaying videos and photos were discovered.
		</p>
	</div>
</div>

<br>

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-reason-tab" data-toggle="tab" href="#nav-reason" role="tab" aria-controls="nav-reason" aria-selected="true">Reason</a>
		<a class="nav-item nav-link" id="nav-tools-tab" data-toggle="tab" href="#nav-tools" role="tab" aria-controls="nav-tools" aria-selected="false">Tools</a>
		<a class="nav-item nav-link" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab" aria-controls="nav-features" aria-selected="false">Features</a>
		<a class="nav-item nav-link" id="nav-howto-tab" data-toggle="tab" href="#nav-howto" role="tab" aria-controls="nav-howto" aria-selected="false">Howto</a>
		<a class="nav-item nav-link" id="nav-todo-tab" data-toggle="tab" href="#nav-todo" role="tab" aria-controls="nav-todo" aria-selected="false">ToDo</a>
	</div>
</nav>

<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-reason" role="tabpanel" aria-labelledby="nav-reason-tab">
		<div class="card" style="border-top:1px solid white">
			<div class="card-body">
				<ul>
					<li>I wanted to keep family photos & videos on a home server and search through them from a browser - by tags, locations, etc.</li>
					<li>Moreover, I wanted my changes to metadata to be stored inside the media files in order to let them survive after copying/moving files.</li>
					<li>I got inspired by EXIF and FFMPEG, Highcharts + Highmaps, and Mapping APIs.</li>
					<li>As a side effect, I wanted to improve my DevOps skills and deploy the app in several ways (dockerized, on-premise, in the cloud)
						<br>and practice with different tools: docker-compose, Kubernetes (kubectl, Helm), Terraform, Ansible, Vagrant.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="nav-tools" role="tabpanel" aria-labelledby="nav-tools-tab">
		<div class="card" style="border-top:1px solid white">
			<div class="card-body">
				<ul>
					<li><b>Back-end</b>: Flask microframework on the top of Python 3, modules geopy, PIL & piexif, ffmpy (requires FFMPEG executables), multiprocessing.dummy for threading, argparse & logging.</li>
					<li><b>Database</b>: PostgreSQL + SQLAlchemy.</li>
					<li><b>Front-end</b>: Bootstrap + jQuery + Font Awesome + higcharts & highmaps. All js/css are downloaded but you can adjust links to use CDN.</li>
					<li><b>Deployment</b>: docker-compose.yml to run the whole environment in three separate containers: Nginx, PostgreSQL and Flask+uWSGI+FFMPEG.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
		<div class="card" style="border-top:1px solid white">
			<div class="card-body">
				<ul>
					<li>Discover photo and video files on the local storage and display the ongoing scan progress.
						Note: video will be forcibly converted to MP4.</li>
					<li>Support full scans and re-scans of media folder, incremental scans of watched ingest-folder and
						upload of single media files with auto-complete hints suggesting paths and last modified date and time preserved.</li>
					<li>Sophisticated search for media files in the database based on their metadata - by tags/year/location/... .</li>
					<li>Read/Modify metadata inside photo and video files.
						Note: move files simply by changing their paths in the Edit form.</li>
					<li>Compare metadata stored in the database and metadata stored inside media files.</li>
					<li>Statistics in the form of pie charts and histograms.</li>
					<li>Geo positioning of a photo/video on the world map including indication of snapshots count per country.</li>
					<li>Ownership support for media files:
						<ul>
							<li>scanned files are considered as public;</li>
							<li>ownership of any file can be changed any time by any authorized user.</li>
						</ul>
					</li>
					<li>Listing media files:
						<ul>
							<li>pagination;</li>
							<li>gallery, tiles and list views;</li>
							<li>Top-10 lists: most visited, last created/updated files, etc.</li>
							<li>Mix-100 list: videos and photos selected randlomly.</li>
						</ul>
					</li>
					<li>Besides MediaFiles, support of CRUD-operations for Locations, Users, Tags.</li>
					<li>Simplified adding location by city, i.e. coordinates, country and country code are automatically detected by city name.</li>
					<li>Web interface to view/modify application settings.</li>
					<li>Support options to launch MetaPhotor from command line and application logging.</li>
					<li>User authentication to support files ownership and restrictions to view non-public pages. Note: you can start using the app as user admin/admin.</li>
					<li>Dockerized deployment with docker-compose YAML file.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="nav-howto" role="tabpanel" aria-labelledby="nav-howto-tab">
		<div class="card" style="border-top:1px solid white">
			<div class="card-body">
				<ul>
					<li>Deploy the app:
						<ul>
							<li>Clone metaphotor app - e.g. run the command <code>git clone https://github.com/nsavelyeva/metaphotor</code> in a terminal window.</li>
							<li>Navigate to the folder <i>metaphotor/deploy/variant-docker</i>.</li>
							<li>Adjust values for environment variables in <i>.env</i> file.</li>
							<li>Run the command <code>docker-compose up -d --build</code> in a terminal window.
								<br><em>Note:</em> in case of below error, remove <code>~/.docker/config.json</code> file (<code>docker logout</code> is not enough):
								<xmp>docker.credentials.errors.InitializationError: docker-credential-gcloud not installed or not available in PATH</xmp>
							</li>
						</ul>
					</li>
					<li>Import video and photo files:
						<ul>
							<li><a href="/login">Login</a> as <i>admin/admin</i> (note, default admin password can be changed <a href="/users/edit/1">here</a>).</li>
							<li>At <a href="/settings">settings page</a> make sure the absolute path to the media folder is correct
								(by default, it should be <i>/opt/metaphotor/app/media</i> - i.e. the path inside metaphotor_web container,
								where the path from the host machine [as set in <i>.env</i> file: MEDIA_FOLDER_ABS_PATH=/mnt/media] is mapped to)
								and click on <b>Scan Media Files</b> button.
							</li>
							<li>On re-scan, media files will remain intact, and only the entries which paths start from MEDIA_FOLDER value will be removed from the database.
								Then, a scan of MEDIA_FOLDER will be performed as usual and all discovered files will have public ownership.
							</li>
							<li>No need to scan the whole folder again when you want to add media files -
								either use <a href="/mediafiles/add">upload form</a> to add media files one by one and optionally modify metadata,
								or put the files into the WATCH_FOLDER (by default, it should be <i>/opt/metaphotor/app/watch</i>),
								navigate to <a href="/settings">settings page</a> and click on <b>Incremental Scan</b> button
								to ingest multiple media files at once
								(new files will be moved from WATCH_FOLDER to MEDIA_FOLDER with folder structure preserved).
							</li>
						</ul>
					</li>
					<li>Edit metadata of media files:
						<ul>
							<li>Metadata is considered as changed if any of the following fields change: title, description, tags, comment, location_id, coords.
							    <br>Hence, modifying the file path will just update the path in the database and move the file to the new location, without writing metadata into the file.
								<br>Likewise, changing file ownership will only affect visibility of files returned by the search and will not write metadata into the file.
							</li>
							<li>It is not recommended to edit entries in the database manually via SQL because the metadata will not be written into the media file.
								However, if re-scans are not planned, this can be done, for instance, to add gps data to multiple media files at once if a city is mentioned in file path:
								<pre>    UPDATE mediafiles
    SET location_id = locations.id, coords = locations.latitude || ',' || locations.longitude
    FROM locations
    WHERE mediafiles.path ILIKE '%' || locations.city || '%';</pre>
								Additionally, you can remove unreadable UserComment values by setting empty strings to comment field:
								<pre>    UPDATE mediafiles SET comment='' WHERE comment !~ '["''<>a-zA-Z0-9_ @!,:;\-\.\(\)\[\]\*$#&%]'</pre>
							</li>
						</ul>
					</li>
					<li>Stop all containers:
						<ul>
							<li>Run the command <code>docker-compose down -v</code> in a terminal window (note, this is safe to keep the data since PostgreSQL stores it in the folder <i>metaphotor/deploy/volumes/postgresql_data</i>).</li>
						</ul>
					</li>
					<li>Remove data about media files from the database, if you wish to start over with initial deployment:
						<ul>
							<li>Stop all containers as described above.</li>
							<li>Remove the folder <i>metaphotor/deploy/volumes/postgresql_data</i>.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tab-pane fade show" id="nav-todo" role="tabpanel" aria-labelledby="nav-todo-tab">
		<div class="card" style="border-top:1px solid white">
			<div class="card-body">
				<p>While dockerized deployment is implemented using <code>docker-compose</code> and can be considered as recommended
				    option to be used within home network to serve the initial app purpose and for further development,
					it makes sense to have the following alternatives also implemented.
				</p>
				<p>Deploy the app on:</p>
				<ul>
					<li>Kubernetes cluster using <code>kubectl</code> - DONE!</li>
					<li>Kubernetes cluster using <code>Helm</code> charts.</li>
					<li>Cloud (AWS/Azure/other or all) using <code>Terraform</code>.</li>
					<li>Virtual machines using <code>Ansible</code> (use <code>Vagrant</code> to create VMs).</li>
				</ul>
			</div>
		</div>
	</div>

</div>

<br>

<div class="card">
	<div class="card-header">Warning!</div>
	<div class="card-body">
		<p>I almost did not test my little buggy app, so:</p>
		<ul>
			<li>do not get surprised when you see it crashed with a scary <code>Traceback</code>;</li>
			<li>keep in mind that all video files will be automatically converted to MP4 by FFMPEG in order to:
				<ul>
					<li>support all metadata fields offered by MetaPhotor,</li>
					<li>be displayed in modern browsers correctly - make a backup before scanning for files!</li>
				</ul>
			</li>
			<li>I take no responsibility if your lovely photos and videos leave to the valley of death... Always keep a backup!</li>
		</ul>
		<p>In the case of Emergency, please stay calm, go to <a href="https://github.com/nsavelyeva/metaphotor" target="_blank">github</a> and open an issue,
			or contact me at <a href="https://www.linkedin.com/in/natallia-savelyeva-15407a12a/" target="_blank">LinkedIn</a>.
		</p>
	</div>
</div>

<script>
	$('#nav-reason-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})

	$('#nav-tools-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})

	$('#nav-features-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})

	$('#nav-howto-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>

{% endblock %}
