{% extends "_layout.html" %}

{% block content %}

<br>

<div class="card">
	<div class="card-header">Inspect Item #{{ item_db['id'] }}</div>
	<div class="card-body">
		<p class="card-text">
			Compare database entry for Item #{{ item_db['id'] }} with the actual metadata stored in the corresponding file.
			<ul><b><i>Notes</i></b>:
				<li>Such fields as <i>Id, Login, Size, Imported, Updated, Accessed, Visits</i> are not stored inside the file and highlighted in <span style="color: orange">orange</span> color as non-critical deviation.</li>
				<li><i>Size</i> is highlighted in <span style="color: orange">orange</span> color as non-critical deviation because metadata updates are written into the file but size in the database remains same as it was in the original file.</li>
				<li><i>City</i> <span style="color: orange">unknown</span> is not stored inside the file and is not considered as critical deviation.</li>
				<li>
					All lines highlighted in <span style="color: red">red</span> are most probably caused by some defect in MetaPhotor and this should be investigated and addressed.
					<br>However, if metadata has been updated and written only into database and not inside the photo file,
					then most probably we have a photo of non-JPEG/Exif format, such as JPEG/JFIF which is also popular -
					read more at <a href="http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_JPEG_files" target="_blank">http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_JPEG_files</a>.
				</li>
			</ul>
		</p>
	</div>
</div>

<br>

<form id="delete_item_form" name="delete_item_form" action="./../delete/" method="POST">
	<input id="item" name="item" type="hidden" value="">
</form>

<table class="table table-striped">
	<tr>
		<th width="150px">Property</th>
		<th>Value in the Database</th>
		<th>Actual file metadata</th>
	</tr>
	{% for field in item_db.keys() %}
	<tr style="color: {% if item_db[field]|string|trim|lower == item_file[field]|string|trim|lower %}green{% elif (field == 'city' and item_db['city'] == 'unknown') or field in ['id', 'login', 'size', 'imported', 'updated', 'accessed', 'visits'] %}orange{% else %}red{% endif %}">
		<th><i>{{ field | title }}</i></th>
		<td>{% if field == "path" %}
			<a href="javascript:show_mediafile_preview('{{ item_db['id'] }}', '{{ item_db['path'].replace('\\','\\\\') }}')">{{ item_db[field] }}</a><div id="preview-{{ item_db['id'] }}"></div>
		</td>
		<td>{{ item_file[field] }}
			{% elif field == "size" %}
			{{ item_db[field] }} bytes = {{ size }}
		</td>
		<td>{{ item_file[field] }} bytes
			{% else %}
			{{ item_db[field] }}
		</td>
		<td>{{ item_file[field] }}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

<p>
	<a class="btn btn-warning" role="button" href="./../edit/{{ item_db['id'] }}">Edit</a>
	<a class="btn btn-danger" role="button" href="javascript:document.getElementById('item').value={{ item_db['id'] }};document.getElementById('delete_item_form').submit();">Delete</a>
	<a class="btn btn-info" role="button" href="javascript:history.back()">Back</a>
</p>

{% endblock %}
