{% extends "_layout.html" %}

{% block content %}

<br>

{% from "_form.html" import render_field %}

<div class="alert alert-info" role="alert">
	Add new photo or video in 2 steps:
	<ol>
		<li>upload a file,</li>
		<li>optional: adjust metadata - this can be done later, any time!</li>
	</ol>
</div>

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Keep in mind</h5>
		<p class="card-text">
			Once the file is uploaded, you will be redirected to the edit page where you can change file metadata,
			e.g. file ownership from yours to public and file creation year from current year to the desired value.
			<br>Changing file path means the file will be moved there from the current location.
			<br><br>File path should be a sub-folder of MEDIA_FOLDER setting
			(by default, it is /opt/metaphotor/app/media)
			and should not contain hidden folders and any links to parent path (i.e. "/." and ".." are not allowed).
			<br>Otherwise, the file will be saved into the upload folder (by default, it is /opt/metaphotor/app/uploads)
			in a sub-folder equal to user id (by default, the access is private, but can be changed to public).
			<br><br>Below you can view existing paths.
			<br>Note: specifying non-existing folders and sub-folders is allowed - they will be created.
		</p>
	</div>
</div>

<br>

<form method="POST" class="form-horizontal" enctype="multipart/form-data">
	{% for field in form.__dict__._fields.keys() %}
	{{ render_field(form[field]) }}
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<a class="btn btn-info" href="javascript:history.back()" role="button">Cancel</a>
			<button type="submit" class="btn btn-success">{{ submit_name }}</button>
		</div>
	</div>
</form>

<script>
    const upload = document.querySelector("#upload");
    upload.addEventListener("change", (event) => {
        const files = event.target.files;
        for (let file of files) {
            const date = new Date(file.lastModified);
            document.querySelector("#last_modified").value = date.valueOf()
        }
    });
</script>
<br>

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Folder Tree</h5>
		<p class="card-text">
			<pre>{{ info | safe }}</pre>
		</p>
		
	</div>
</div>

{% endblock %}
