{% extends "_layout.html" %}

{% block content %}

{% include "_searchform.html" %}

{% if pagination.total > 0 %}

<form id="delete_item_form" name="delete_item_form" action="/{{ table }}/delete/" method="POST">
	<input id="item" name="item" type="hidden" value="">
</form>

<table class="table table-striped table-hover table-sm">
	<thead>
		<tr>
			<th>Id</th>
			<th>Year</th>
			<th>Preview</th>
			<th>Path</th>
			<th>Tags</th>
			<th>Country</th>
			<th class="text-right">Operations</th>
		</tr>
	</thead>
	{% for row in rows %}
	<tr>
		<td>{{ row['id'] }}</td>
		<td>{{ row['year'] }}</td>
		<td>
			{% if row['path'].lower().endswith('.jpg') or row['path'].lower().endswith('jpeg') %}
			<img src="/load_mediafile/{{ row['path'] }}" width="50px" />
			{% elif row['path'].lower().endswith('.mp4') %}
			<video preload="metadata" width="80px"><source src="/load_mediafile/{{ row['path'] }}"></video>
			{% endif %}
			<br>{{ row['title'] }}
		</td>
		<td>
			<a href="javascript:show_mediafile_preview('{{ row['id'] }}', '{{ row['path'].replace('\\','\\\\') }}')">{{ row['path'] }}</a>
			<br>{{ row['title'] }}
			<div id="preview-{{ row['id'] }}"></div>
		</td>
		<td>{{ row['tags'] }}</td>
		<td>
			<img src="{{ url_for('static', filename='flags/blank.gif') }}" class="flag flag-{{ row['code'].lower() }}" title="{{ row['country'] | title }}"  alt="{{ row['country'] | title }}" />
		</td>
		<td class="text-right">
			<a href="/{{ table }}/inspect/{{ row['id'] }}" ><button type="button" class="btn btn-info btn-sm" title="Inspect"><i class="fa fa-eye" aria-hidden="true"></i></button></a>
			<a href="/{{ table }}/view/{{ row['id'] }}" ><button type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-binoculars" aria-hidden="true"></i></button></a>
			<a href="/{{ table }}/edit/{{ row['id'] }}" ><button type="button" class="btn btn-info btn-sm" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
			<a href="javascript:document.getElementById('item').value={{ row['id'] }};document.getElementById('delete_item_form').submit();" ><button type="button" class="btn btn-info btn-sm" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
		</td>
	</tr>
	{% endfor %}
	<tfoot>
		<tr>
			<th>Id</th>
			<th>Year</th>
			<th>Preview</th>
			<th>Path</th>
			<th>Tags</th>
			<th>Country</th>
			<th class="text-right">Operations</th>
		</tr>
	</tfoot>
</table>

{% if pagination.total > pagination.per_page %}
	{% from "_paginator.html" import render_pagination %}
	{{ render_pagination(pagination, params) }}
{% endif %}

{% include "_worldmap.html" %}

{% endif %}

{% endblock %}
